= simple_form_for @story_comment, :html => { :class => 'form-horizontal' } do |f|
  = f.association :story, :required => true, :collection => Story.all.collect {|story| [story.content, story.id]}
  = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
  = f.input :content
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), story_comments_path, :class => 'btn'
